<!--
  Generated template for the UtilizadorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background: url('assets/imgs/entrar.jpg') no-repeat;background-size: cover;" >
	<div style="height: 15%;"></div>
		<ion-card>
		
		  <ion-card-content>
		    <ion-list>
			  <ion-item>
			    <ion-label floating>Email</ion-label>
			    <ion-input type="text" [(ngModel)]="data.email"></ion-input>
			  </ion-item>

			  <ion-item>
			    <ion-label floating>Password</ion-label>
			    <ion-input type="password" [(ngModel)]="data.password"></ion-input>
			  </ion-item>

			</ion-list>
			<div style="height: 20px;"></div>
			<button ion-button color="light" (click)="login()">Entrar</button>
            <button ion-button (click)="goCriar()">Criar conta</button>
            <div style="height: 7px;"></div>
            <p> Esqueceu o password? <a href="https://cctvirtual.cf" id="login-button8" class="pinta">Recuperar</a></p>
		  </ion-card-content>
		
		</ion-card>
</ion-content>
