page-utilizador {
	.pinta {
		font: "lubalin";
		color: #610400;
	}
	.tras.scroll-content {
		background: url('http://servercct.ledunipiaget.homelinux.org:8000/annie-spratt-370971%20(1).jpg') no-repeat;
		background-size: cover;
	}
}
