<!--
  Generated template for the ModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>Comentarios</ion-title>
		<ion-buttons end>
			<button ion-button (click)="closeModal()">Fechar</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>


<ion-content style="background: #F3F3F3;" >

	<ion-card>
		<ion-item>
			<ion-avatar item-start>
				<img src="https://www.cctvirtual.cf/downloads/{{dados.fotoUser}}">
			</ion-avatar>
			<h2>{{dados.first_name}} {{dados.last_name}}</h2>
			<p>{{dados.dia}} de {{dados.mes}}, {{dados.ano}}</p>
		</ion-item>

		<img src="https://www.cctvirtual.cf/downloads/{{dados.foto}}" #myImage (click)="presentImage(myImage)" >

		<ion-card-content>
			<p>{{dados.descricao}}</p>
		</ion-card-content>

		<ion-row>
			<ion-col>
				<button *ngIf="dados.like == 'true'" ion-button icon-start clear small (click)="tapEvent($event, dados.id, dados.like)">
					<div>{{dados.gosto}}</div> &nbsp;&nbsp;
					<ion-icon name="heart"></ion-icon>
				</button>

				<button *ngIf="dados.like == 'false'" ion-button icon-start color="light" clear small (click)="tapEvent($event, dados.id, dados.like)">
					<div>{{dados.gosto}}</div> &nbsp;&nbsp;
					<ion-icon name="heart"></ion-icon>
				</button>
			</ion-col>
			<ion-col>
			</ion-col>
			<ion-col>
				<button ion-button icon-end clear small offset-4>
					<div>{{dados.comentario}}</div>
					<ion-icon name="text"></ion-icon>
				</button>
			</ion-col>
		</ion-row>
	</ion-card>


	<div ion-item class="parceiro" *ngFor="let c of coments" (press)="pressEvent($event, c.idUser, c.id)">
		<ion-avatar item-start>
			<img src="https://www.cctvirtual.cf/downloads/{{c.fotoUser}}">
		</ion-avatar>
		<div style="white-space: normal;"> <strong>{{c.first_name}} {{c.last_name}}</strong> {{c.comentario}}</div> 
		<ion-icon *ngIf="c.idUser == idU" name="trash" item-end (click)="pressEvent($event, c.idUser, c.id)" ></ion-icon>
	</div> 


	<ion-card>
		<ion-card-content>
			<textarea placeholder="Diz qualquer coisa..." rows="4" cols="37" name="comment" form="usrform" ng-model="comentario" [(ngModel)]="comentario"></textarea>
			<button ion-button block color="light" (click)="setComentario()" >Comentar</button>
		</ion-card-content>
	</ion-card>
</ion-content>
