<ion-tabs [selectedIndex]="myIndex">
	<ion-tab tabIcon="home" [root]="tab1Root" tabTitle="Inicio" tabsHideOnSubPages="true"></ion-tab>
	<ion-tab tabIcon="map" [root]="tab2Root" tabTitle="Mapa"></ion-tab>
	<ion-tab tabIcon="person" [root]="tab3Root" tabTitle="Login" tabsHideOnSubPages="true"></ion-tab>
</ion-tabs>