<!--
  Generated template for the ModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Depoimento</ion-title>
    <ion-buttons end>
    	<button ion-button (click)="closeModal()">Fechar</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<img style="width: 100%" src="https://www.cctvirtual.cf/cct/backend/web/uploads/{{dados.midia[0].foto}}">
	 <h2>{{dados.nome}}</h2>
	 <p>Preso em {{dados.data_nascimento}}</p>
	 <br>
	 <div [innerHTML]="dados.biografiaPT"></div>

</ion-content>
