<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background: url('assets/imgs/entrar.jpg') no-repeat;background-size: cover;">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

	<ion-card>
	
	  <ion-item class="profile-item">
          <div class="profile-picture">
            <img *ngIf="qual" (click)="presentActionSheet()" style="margin-top: 1px;" src="https://www.cctvirtual.cf/downloads/{{user.foto_perfil}}">
             <img *ngIf="!qual" (click)="presentActionSheet()" style="margin-top: 1px;" src="{{user.foto_perfil}}">
          </div>

            <h2 class="profile-name dark">{{user.first_name}} {{user.last_name}}</h2>
        </ion-item>
        <ion-list>
        	<ion-item>
        		<ion-icon name='contact' item-start></ion-icon>
        		Username:  {{user.username}}
        	</ion-item>
        	<ion-item>
        		<ion-icon name='mail' item-start></ion-icon>
        		Email: {{user.email}}
        	</ion-item>
        </ion-list>
        <button ion-button block (click)="showPrompt()">Alterar palavra passe</button>
			  <button ion-button block (click)="logout()">Logout</button>
	
	</ion-card>

</ion-content>
