<!--
  Generated template for the ModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Editar Publicação</ion-title>
    <ion-buttons end>
    	<button ion-button (click)="closeModal()">Fechar</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding style="background: url('assets/imgs/entrar.jpg') no-repeat;background-size: cover;">

	<ion-card>

    <ion-card-header>
      Sua Historia 
    </ion-card-header>

    <ion-card-content>
      <textarea placeholder="Diz qualquer coisa..." rows="4" cols="37" name="comment" form="usrform" ng-model="data.descricao" [(ngModel)]="data.texto" value="{{dados.descricao}}" ></textarea>

       <p *ngIf="qual" align="center"><img src="https://www.cctvirtual.cf/downloads/{{dados.foto}}"></p>
       <p align="center"><img src="{{ myphoto }}"></p>

      <button ion-button block (click)="presentActionSheet()" >Carregar Imagem</button>
      <button ion-button block color="light" (click)="uploadImage()" >Publicar</button>
      

    </ion-card-content>

  </ion-card>

</ion-content>
