<!--
  Generated template for the CriarcontaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>Criar Conta</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>

	<ion-list>

		<ion-item>
			<ion-label floating>Nome de utilizador</ion-label>
			<ion-input type="text" [(ngModel)]="data.username"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label floating>Primeiro Nome</ion-label>
			<ion-input type="text" [(ngModel)]="data.first"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label floating>Ultimo Nome</ion-label>
			<ion-input type="text" [(ngModel)]="data.last"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label floating>Email</ion-label>
			<ion-input type="email" [(ngModel)]="data.email"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label floating>Palavra passe</ion-label>
			<ion-input type="password" [(ngModel)]="data.password"></ion-input>
		</ion-item>

		<div padding>
			<button ion-button block (click)="signup()">Criar Conta</button>
		</div>
	</ion-list>
</ion-content>
