<!--
  Generated template for the GaleriaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>Galeria</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding class="tras">

	<ion-card>
		<ion-card-header>
			<ion-icon name='images' item-start></ion-icon>
			Todas os Fotos
		</ion-card-header>

		<ion-slides ion-list style="width:100%; height:200px;">
			<ion-slide *ngFor="let g of galeria">
				<img style="width: 320px; height: 200px;" src="https://www.cctvirtual.cf/cct/backend/web/uploads/{{g.foto}}" #myImage (click)="presentImage(myImage)" />
			</ion-slide>
		</ion-slides>
	</ion-card>

	<ion-card>
		<ion-card-header>
			<ion-icon name='images' item-start></ion-icon>
			Fotos do Campo
		</ion-card-header>

		<ion-slides ion-list style="width:100%; height:200px;">
			<div *ngFor="let g of galeria">
				<ion-slide *ngIf="g.tipo === tipo">
					<img style="width: 320px; height: 200px;" src="https://www.cctvirtual.cf/cct/backend/web/uploads/{{g.foto}}" #myImage (click)="presentImage(myImage)" />
				</ion-slide>
			</div>
			
		</ion-slides>
	</ion-card>
	
	<ion-card>
		<ion-card-header>
			<ion-icon name='images' item-start></ion-icon>
			Fotos de Celas
		</ion-card-header>

		<ion-slides ion-list style="width:100%; height:200px;">
			<div *ngFor="let g of galeria">
				<ion-slide *ngIf="g.tipo === tip">
					<img style="width: 320px; height: 200px;" src="https://www.cctvirtual.cf/cct/backend/web/uploads/{{g.foto}}" #myImage (click)="presentImage(myImage)" />
				</ion-slide>
			</div>
		</ion-slides>
	</ion-card>
</ion-content>
