<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Museu da Resistência</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <ion-slides style="width:100%; height:200px;">
  <ion-slide *ngFor="let f of foto" >
    <img src="https://www.cctvirtual.cf/cct/backend/web/uploads{{f.foto}}" alt="">
  </ion-slide>
</ion-slides>

<div style="height: 30px;" ></div>



<ion-list>
  <ion-item class="pinta" *ngFor="let p of pages" (click)="goTo(p)">
    <ion-icon name='{{p.icone}}' item-start></ion-icon>
    {{p.title}}
    <ion-icon name="ios-arrow-forward" item-end></ion-icon>
  </ion-item>
</ion-list>
</ion-content>
