<!--
  Generated template for the ModalpontosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ponto de Interece</ion-title>
    <ion-buttons end>
    	<button ion-button (click)="closeModal()">Fechar</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div #map id="map">A carregar Mapa...</div>
  <br>
  <h2>{{dados.nome}}</h2>
  <div [innerHTML]="dados.descricao"></div>
  <br>
  <!--div id="panel">A carregar Direção...</div-->


</ion-content>
