<!--
  Generated template for the ParceirosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Parceiros</ion-title>
  </ion-navbar>

</ion-header>


<ion-content  padding class="tras">
	 <br>

    <div style="text-align: center;" class="parceiro" id="social-list-item-container14">
      <a href="https://www.facebook.com/cultura.caboverde/"><img style="width: 81%; height: 75px;" src="assets/imgs/LogoMCIC.png" alt="">
      </a>
    </div> 

    <br>

    <div style="text-align: center;" class="parceiro" id="social-list-item-container14">
      <a href="https://www.facebook.com/patrimoniocultural.caboverde/">
        <img style="width: 70px; height: 70px;" src="assets/imgs/ipc.jpg" alt="">
      </a>
    </div> 

    <br>

    <div style="text-align: center;" class="parceiro" id="social-list-item-container14">
      <a href="http://www.cvmovel.cv/">
        <img style="width: 70px; height: 70px;" src="assets/imgs/CVMassinatura.png" alt="">
      </a>
    </div> 

    <br>

    <div style="text-align: center;"  class="parceiro" id="social-list-item-container14">
      <a  href="http://www.unipiaget.edu.cv/">
        <img style="margin-left: 10px; width: 70px; height: 70px;" src="assets/imgs/piaget.png" alt="">
      </a> 
    </div> 

    <br>

    <div style="text-align: center;" class="parceiro" id="social-list-item-container14">
     <a href="https://www.facebook.com/MunicipioTarrafalSantiago/">
       <img style="margin-left: 10px; width: 70px; height: 70px;" src="assets/imgs/tarrafal.jpg" alt="">
     </a>
    </div> 

    <br>

    <p style="text-align: center; position: relative; top: 60px; "><font size="1">Hélcio Ferreira | Laboratorio de Educação a Distancia</font></p> 
</ion-content>
