<ion-tabs [selectedIndex]="myIndex">
	<ion-tab tabIcon="home" [root]="tab1Root" tabTitle="Inicio" tabsHideOnSubPages="true"></ion-tab>
	<ion-tab tabIcon="md-aperture" [root]="tab2Root" tabTitle="Todos"></ion-tab>
	<ion-tab tabIcon="ios-add-circle-outline" [root]="tab3Root" tabTitle="Publicar"></ion-tab>
	<ion-tab tabIcon="images" [root]="tab4Root" tabTitle="Minhas Publicações"></ion-tab>
	<ion-tab tabIcon="person" [root]="tab5Root" tabTitle="Perfil"></ion-tab>
</ion-tabs>
