<!--
  Generated template for the TestemunhosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Depoimentos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="outer-content">
  <ion-searchbar placeholder="Pesquisar" (ionInput)="onInput($event)">
</ion-searchbar>
<ion-list>
  <ion-list-header class="outer-content">
    Cabo Verdianos
  </ion-list-header>
  <div *ngFor="let t of testemunho">
    <ion-item *ngIf="t.nacionalidade === cv" (click)="openModal(t)">
      <ion-avatar item-start>
        <img src="https://www.cctvirtual.cf/cct/backend/web/uploads/{{t.midia[0].foto}}">
      </ion-avatar>
      <h2>{{t.nome}}</h2>
      <p>Preso em {{t.data_nascimento}}</p>
    </ion-item>
  </div>
  <ion-list-header class="outer-content">
    Angolanos
  </ion-list-header>
  <div *ngFor="let t of testemunho">
    <ion-item *ngIf="t.nacionalidade === ang" (click)="openModal(t)">
      <ion-avatar item-start>
        <img src="https://www.cctvirtual.cf/cct/backend/web/uploads/{{t.midia[0].foto}}">
      </ion-avatar>
      <h2>{{t.nome}}</h2>
      <p>Preso em {{t.data_nascimento}}</p>
    </ion-item>
  </div>
  <ion-list-header class="outer-content">
    Guinieenses
  </ion-list-header>
  <div *ngFor="let t of testemunho" (click)="openModal(t)">
    <ion-item *ngIf="t.nacionalidade === ang">
      <ion-avatar item-start>
        <img src="https://www.cctvirtual.cf/cct/backend/web/uploads/{{t.midia[0].foto}}">
      </ion-avatar>
      <h2>{{t.nome}}</h2>
      <p>Preso em {{t.data_nascimento}}</p>
    </ion-item>
  </div>



</ion-list>
</ion-content>
