<!--
  Generated template for the VisitaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>Visita Guiada</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<div id="street-view">A carregar...</div>
</ion-content>
