<!--
  Generated template for the InformacoesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>informacoes</ion-title>
	</ion-navbar>

</ion-header>


<ion-content  class="tras">
	<div *ngFor="let i of info">
		<ion-card>
			<ion-card-header>
				<strong class="pinta">Horario (De terça à Dommingo)</strong>
			</ion-card-header>
			<ion-card-content>
				<strong class="pinta">Hora de Abertura:</strong> <font face="lubalin">{{i.horaInicio}}</font> <br>
				<strong class="pinta">Hora de Fecho:</strong> <font face="lubalin">{{i.horaFim}}</font>
			</ion-card-content>
		</ion-card>

		<ion-card>
			<ion-card-header>
				<strong class="pinta">Bilhetes</strong>
			</ion-card-header>
			<ion-card-content>
				<strong class="pinta">Nacional:</strong> <font face="lubalin">{{i.bilhete_nacional}}</font> <br>
				<strong class="pinta">Internacional:</strong> <font face="lubalin">{{i.bilhete_internacional}}</font><br>
			</ion-card-content>

		</ion-card>

		<ion-card>
			<ion-card-header>
				<strong class="pinta">Contactos</strong>
			</ion-card-header>
			<ion-card-content>
				<strong class="pinta">Telefone:</strong> <font face="lubalin">{{i.telefone}}</font> <br>
				<strong class="pinta">Email:</strong> <font face="lubalin">{{i.endereco}}</font><br>
			</ion-card-content>

		</ion-card>

		<ion-card>
			<ion-card-header>
				<strong class="pinta">Informções Extras</strong>
			</ion-card-header>
			<ion-card-content>
				<font face="lubalin"><div [innerHTML]="i.extras"></div></font>
			</ion-card-content>
		</ion-card>
	</div>
	
</ion-content>
