<!--
  Generated template for the PontosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Pontos de Interesse</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding class="tras">
	<ion-card *ngFor="let p of pontos" (click)="openModal(p)" class="adv-map">
		<div style="position: relative">
			<!-- Troca so latitude ku longitude na center=14.920719,-23.538009 ku na Clabel a partir de 14.920719,-23.538009 -->
			<img src="https://maps.googleapis.com/maps/api/staticmap?center={{p.latude}},{{p.longitude}}&zoom=18&size=400x300&maptype=satellite&markers=color:red%7Clabel:S%7C{{p.latude}},{{p.longitude}}&key=AIzaSyCkRKkt4WrkYrt18Bg_4lVpjIV1d1II7B4">
			<ion-fab right top>
				<button ion-fab color="secondary">
					<ion-icon name="pin"></ion-icon>
				</button>
			</ion-fab>
		</div>
		<ion-item>
			<ion-icon color="subtle" large item-start name='information-circle'></ion-icon>
			<h2>{{p.nome}}</h2>
			<p>Categoria: {{p.categoria}}</p>
		</ion-item>
	</ion-card>

	
</ion-content>
