<!--
  Generated template for the HistoriaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Historia</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)"> 
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content #popoverContent padding class="popover-page">

  <ion-slides style="width:100%; height:200px;">
   <ion-slide *ngFor="let f of foto" >
    <img src="https://www.cctvirtual.cf/cct/backend/web/uploads/{{f.foto}}" alt="">
  </ion-slide>
</ion-slides>

<div #popoverText class="text-to-change">

  <div *ngFor="let h of historia">
    <h2>{{h.tituloPT}}</h2>
    <div [innerHTML]="h.historiaPT"></div>
    
   
  </div>
 
</div>
</ion-content>
