<!--
  Generated template for the TodosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Todas as Publicações</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card  *ngFor="let p of publicacoes">
    <ion-item>
      <ion-avatar item-start>
        <img src="https://www.cctvirtual.cf/downloads/{{p.fotoUser}}">
      </ion-avatar>
      <h2>{{p.first_name}} {{p.last_name}}</h2>
      <p>{{p.dia}} de {{p.mes}}, {{p.ano}}</p>
    </ion-item>

    <img *ngIf="p.foto" src="https://www.cctvirtual.cf/downloads/{{p.foto}}" #myImage (click)="presentImage(myImage)" >

    <ion-card-content>
      <p>{{p.descricao}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button *ngIf="p.like == 'true'" ion-button icon-start clear small (click)="tapEvent($event, p.id, p.like, p.gosto)">
          <div>{{p.gosto}}</div> &nbsp;&nbsp;
          <ion-icon name="heart"></ion-icon>
        </button>

        <button *ngIf="p.like == 'false'" ion-button icon-start color="light" clear small (click)="tapEvent($event, p.id, p.like, p.gosto)">
          <div>{{p.gosto}}</div> &nbsp;&nbsp;
          <ion-icon name="heart"></ion-icon>
        </button>
      </ion-col>

      <ion-col>
        <button ion-button icon-start clear small (click)="openModal(p)">
          <ion-icon name="text"></ion-icon>
          <div>{{p.comentario}} Comentarios</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
